@charset "utf-8";
/* CSS Document */
html {
    font-size: 100%;
}
html, button, input, select, textarea {
    color: #333;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}
img, object, embed, video {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.ie6 img {
    width: 100%;
}
.wrap {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
}
/*high resolution, 1024px and obove */
@media only screen and (min-width: 1024px) {
    #container {
        width: 1170px !important;
        margin: 0 auto;
        height: 100%;
        padding-bottom: 20px !important;
    }
    .container-index {
        width: 1170px !important;
        margin: 0 auto;
        height: 350px;
        padding-bottom: 20px !important;
    }
    .tekst_onama {
        width: 100%;
        height: 100%;
    }
    .tekst_onama p {
        font-weight: 300;
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.4em;
        text-align: justify;
    }
    .logo_naslovna {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3em;
        margin-bottom: 0.5em;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-position: center top;
        margin-top: 20px;
    }
    .poslovneprilike {
        width: 100%;
        height: 240px;
        margin-top: 15px;
    }
    .poslovneprilike_oglas {
        width: 32%;
        margin-left: 2%;
        clear: none;
        font-size: 0.8em;
        text-align: center;
        float: left;
        margin-top: 15px;
        margin-bottom: -10px;
    }
    .poslovneprilike_oglas p {
        font-weight: 600 !important;
        color: #696a6f;
        font-size: 1em !important;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
        text-transform: uppercase;
    }
    .poslovneprilike_oglas h2 {
        color: #001b86;
        text-align: center;
        font-weight: 800;
        font-size: 1.1em;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: uppercase;
    }
    .poslovneprilike_oglas a {
        font-weight: 600 !important;
        color: #666666;
        font-size: 1em !important;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
    }
    .poslovneprilike_oglas a:hover, a span:hover {
        color: #001b86;
        font-weight: 600 !important;
        font-size: 1em !important;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
    }
    .poslovneprilike_oglas a span {
        font-weight: 400 !important;
        color: #999999;
        font-size: 0.9em !important;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: center;
    }
    h1 span {
        font-weight: 400;
        color: #5e8fca;
    }
    .blog_pocetna {
        width: 100%;
        height: 180px;
        margin-top: 15px;
    }
    .skrol {
        width: 32%;
        margin-left: 2%;
        float: left;
        height: 100%;
        margin-bottom: 30px;
    }
    .skrol a {
        font-weight: 400 !important;
        color: #696a6f;
        font-size: 0.8em !important;
        margin-top: 0;
        margin-bottom: 0.4em;
        text-align: left !important;
    }
    .skrol p {
        font-weight: 600 !important;
        font-size: 1em;
        text-align: left;
    }
    .blog_tekstovi {
        width: 100%;
        clear: both;
        margin-left: 0;
        text-align: justify;
        white-space: normal;
    }
    .blog_tekstovi a {
        font-weight: 300;
        color: #696a6f;
        font-size: 0.8em;
        margin-top: 0;
        margin-bottom: 0;
        text-align: justify;
    }
    .blog_tekstovi a:hover {
        color: #337ad8;
        transition: all 1000ms ease;
    }
    .content {
        width: 100%;
        clear: both;
        margin-left: 0;
        overflow: auto;
        max-height: 110px;
        text-align: left;
    }
    .zeroMargin_desktop {
        margin-left: 0;
    }
    .hide_desktop {
        display: none;
    }
    /*usluge*/
    .naslov_pozadina {
        width: 100% !important;
        background-color: #F7F8F9;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        margin-bottom: 2em;
        margin-top: -18px;
    }
    .naslov {
        width: 1170px;
        margin: 0 auto;
        clear: none;
        float: none;
        margin-left: auto;
    }
    .naslov h1 {
        color: blue;
        font-size: 1.7em;
        font-weight: 300 !important;
        text-align: left;
        margin-left: 0.4em;
    }
    .naslov h1 span {
        color: red;
        font-size: 2.7em;
        line-height: 1.5em;
        margin-right: 0.3em;
        font-weight: 300 !important;
    }
    .figcaption {
        font-style: italic;
        text-align: left;
        font-size: 1em;
    }
    .vest_solo {
        margin-bottom: 1em;
    }
    .vest_solo ul li {
        line-height: 1.5em;
        font-size: 1em;
        font-weight: 300;
        color: #000;
    }
    .vest_solo ol li {
        line-height: 1.5em;
        font-size: 1em;
        font-weight: 300;
    }
    .vest_solo img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        text-align: justify;
    }
    .slika-neka {
        margin-bottom: 2%;
        float: right;
        width: 400px;
        padding-left: 1%;
    }
    .slika-neka1 {
        margin-bottom: 2%;
        float: right;
        width: 48%;
        padding-left: 1%;
    }
    .slika-neka2 {
        margin-bottom: 2%;
        float: right;
        width: 48%;
        padding-left: 1%;
        padding-right: 1%;
    }
    .vest_solo {
        margin-bottom: 1em;
        width: 1170px;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none;
    }
    .vest_solo a {
        color: #0000FF;
        font-size: 1.1em;
        font-weight: 300;
        text-decoration: none;
    }
    .vest_solo h1 {
        text-align: center;
        font-weight: 400;
        font-size: 1.7em !important;
    }
    .vest_solo h2 {
        text-align: center;
        font-weight: 500;
        font-size: 1.5em !important;
    }
    .vest_solo h3 {
        text-align: left;
        font-size: 1.3em !important;
        font-style: normal;
        font-weight: 400;
    }
    .vest_solo a:hover {
        color: #f21d25;
    }
    .vest {
        margin-bottom: 3em;
    }
    .vest a {
        color: #0000FF;
        font-size: 1.1em;
        font-weight: 300;
    }
    .vest a:hover {
        color: #f21d25;
    }
    .vest h2 {
        text-align: center !important;
        font-weight: 400;
        color: blue;
    }
    .vest h3 {
        text-align: left;
        font-weight: 300;
        font-size: 1.1em;
    }
    .vest_tekst {
        clear: none;
        width: 100%;
        height: auto;
    }
    .vest_tekst img {
        clear: none;
        margin-left: 3%;
        width: 40%;
        float: right;
        padding-bottom: 30px;
    }
    .more {
        margin-top: 1em;
        float: left;
        background-color: #4245DC;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        border-radius: 8px;
    }
    .more a {
        font-size: 0.85em;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    .more a:hover {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #fff;
    }
    #border {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #E8EBEE;
        padding-top: 1.5em;
        margin-top: 30px;
    }
    /*lightbox*/
    .vesti_slike {
        margin-bottom: 2em;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }
    .vesti_slikelight {
        width: 19%;
        margin-left: 1%;
        margin-bottom: 1%;
        clear: none;
        float: left;
    }
    /*end lightbox*/
    /*reference*/
    .ref_uzi {
        clear: both;
        margin-left: 0;
        text-align: center;
        background-color: #FFFFFF;
        height: 335px;
        width: 275px;
        margin-left: 14px;
        margin-bottom: 14px;
        clear: none;
        padding-left: 0.3em;
        padding-right: 0.3em;
        float: left;
    }
    .ref_img {
        width: 90%;
        margin: 0 auto;
    }
    .ref_naslov {
        height: 120px;
    }
    .ref_naslov_manji {
        height: 20px;
    }
    .ref_usluga {
        height: 50px;
    }
    .ref_utoku {
        height: 10px;
    }
    .ref_uzi h3 {
        color: #b1b1b8;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.2em;
        line-height: 1.0em;
    }
    .ref_uzi p {
        line-height: 1.1em;
        font-size: 0.8em;
        font-weight: 300;
    }
    .ref_uzi h2 {
        color: #58585F;
        font-size: 1.1em;
        font-weight: 300;
        margin-bottom: 0.1em;
        line-height: 1.1em;
        text-transform: uppercase;
    }
    #container-ref {
        width: 1170px;
        background-color: #F7F8F9;
        background-image: url(../images/decor_inside.png);
        margin: 0 auto;
        clear: none;
        float: none;
        margin-bottom: 15px;
        padding-top: 2%;
        height: 2850px;
    }
    #container-ref1 {
        width: 1170px;
        background-color: #F7F8F9;
        background-image: url(../images/decor_inside.png);
        margin: 0 auto;
        clear: none;
        float: none;
        margin-bottom: 15px;
        padding-top: 2%;
        height: 5300px;
    }
    #container-ref1 h4 {
        padding-left: 30px;
    }
    .ref-1 {
        width: 1170px;
        height: 30px;
        float: left;
        text-align: left;
    }
    /*end reference*/
    /*blog*/
    .more-blog {
        background-color: #f7e847;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        width: 48%;
        margin-bottom: 10px;
        border-radius: 6px;
    }
    .more-blog a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;
            }
    .more-blog1 {
        margin-top: 0em;
        margin-bottom: 2em;
        background-color: #f7e847;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        width: 18%;
        border-radius: 6px;
    }
    .more-blog1 a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;
           }
    .more-blog2 {
        margin-top: 0em;
        margin-bottom: 2em;
        background-color: #f7e847;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        width: 21%;
        border-radius: 6px;
    }
    .more-blog2 a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;       
    }
    .more-blog3 {
        margin-top: 2em;
        margin-bottom: 1em;
        background-color: #f7e847;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        width: 34%;
    }
    .more-blog3 a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;        
    }
    .more-blog4 {
        margin-top: 1em;
        margin-bottom: 2em;
        background-color: #f7e847;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        width: 28%;
    }
    .more-blog4 a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;        
    }
    /*end blog*/
    /*kontakt*/
    .kontakt {
        width: 100%;
        clear: both;
        margin-left: 0;
        text-align: center;
    }
    .kontakt h2 {
        color: #58585F;
        font-size: 1em;
        font-weight: 400;
        line-height: 2em;
        margin-left: 1.2em;
        display: inline;
    }
    .kontakt h2 span {
        font-size: 1.2em;
        font-weight: 400;
    }
    .kontakt_forma {
        width: 100%;
        background-color: #F7F8F9;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        text-align: center;
    }
    .seecap_naslovna {
        margin-bottom: 0.3em;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        text-align: center;
    }
    .blog_naslovmanji {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5em;
        padding-top: 3em;
        margin-bottom: 0.5em;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-position: center top;
    }
    /*contact form*/
    #form {
        width: 1170px;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 1em;
    }
    /*CSS for Error notification*/
    .notification_error {
        height: auto;
        color: #fff;
        padding: 10px;
        margin: 10px auto;
        text-align: left;
        margin-bottom: 10px;
        margin-left: 35px;
        font-size: 12px;
    }
    /*CSS for Successfully sent notification*/
    .notification_ok {
        height: auto;
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }
    /*CSS for textarea (Name and email)*/
    textarea {
        width: 95%;
        margin: 10px auto;
        padding: 5px;
        border: #cccccc solid 1px;
        color: #333333;
        font: 12px Verdana, Helvetica, Arial, sans-serif;
        box-sizing: content-box;
        border-radius: 3px;
        box-shadow: 0 1px 4px 0 rgb(168, 168, 168, 0.6) inset;
        transition: all 0.2s linear;
    }
    /*CSS for textbox (Message)*/
    .textbox {
        width: 31%;
        height: 25px;
        padding: 5px;
        border: #cccccc solid 1px;
        color: #333333;
        font: 12px Verdana, Helvetica, Arial, sans-serif;
        box-sizing: content-box;
        border-radius: 3px;
        box-shadow: 0 1px 4px 0 rgb(168, 168, 168, 0.6);
        transition: all 0.2s linear;
        margin-top: 10px;
        margin-bottom: 10px;
        clear: both;
    }
    .textbox2 {
        height: 140px;
    }
    /*CSS for submit button*/
    .button {
        width: 8%;
        cursor: pointer;
        background-color: #001b86;
        padding: 4px 5px;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        border: rgb(15, 16, 18) solid 1px;
        margin-bottom: 10px;
        border-radius: 3px;
        box-shadow: 0 1px 6px 4px rgb(0, 0, 0, 0.07) inset, 0 1px 3px 2px rgb(28, 29, 31);
        transition: all 0.2s linear;
        text-align: center;
        background-image: url(../images/noise.png);
    }
    .button:hover {
        background-color: #e8150e;
        background-image: url(../images/noise.png);
    }
    /**** advanced input styling ****/
    /* placeholder */ ::-webkit-input-placeholder {
        color: rgb(190, 188, 188);
        font-style: italic;
    }
    input:-moz-placeholder, textarea:-moz-placeholder {
        color: rgb(190, 188, 188);
        font-style: italic;
    }
    input {
        outline: none;
    }
    /*end contac forma*/
    /*end kontakt*/
    /*mapa sajta*/
    .mapa_prvi {
        border-bottom: 1px solid #CCCCCC;
        width: 100%;
    }
    .mapa_usluge {
        width: 48.8888%;
        clear: none;
        margin-left: 2.2222%;
    }
}
/*medium resolution, 1023px*/
@media only screen and (max-width: 1023px) {
    body {
        font-size: 1em;
    }
    #container {
        width: 95% !important;
        margin: 0 auto;
        height: 100%;
        padding-bottom: 20px !important;
    }
    .container-index {
        width: 95% !important;
        margin: 0 auto;
        height: 100%;
        padding-bottom: 20px !important;
    }
    .tekst_onama {
        width: 95%;
        margin: 0 auto;
        height: 100%;
    }
    .tekst_onama p {
        font-weight: 300;
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.4em;
        text-align: justify;
        color: #333333;
    }
    .logo_naslovna {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3em;
        margin-bottom: 0.5em;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-position: center top;
        margin-top: 20px;
    }
    .poslovneprilike {
        width: 100%;
        max-height: 1125px;
        margin-top: 15px;
    }
    .poslovneprilike_oglas {
        width: 100%;
        clear: none;
        font-size: 0.8em;
        text-align: center;
        max-height: 360px;
        margin-bottom: 15px;
    }
    .poslovneprilike_oglas p {
        font-weight: 600 !important;
        color: #696a6f;
        font-size: 22px !important;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
        text-transform: uppercase;
    }
    .poslovneprilike_oglas h2 {
        color: #001b86;
        text-align: center;
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: uppercase;
    }
    .poslovneprilike_oglas a {
        font-weight: 600 !important;
        color: #666666;
        font-size: 22px !important;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
    }
    .poslovneprilike_oglas a:hover, a span:hover {
        color: #001b86;
        text-decoration: none;
    }
    .poslovneprilike_oglas a span {
        font-weight: 400 !important;
        color: #999999;
        font-size: 22px !important;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: center;
    }
    h1 span {
        font-weight: 400;
        color: #5e8fca;
    }
    .blog_pocetna {
        width: 100%;
        max-height: 700px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .skrol {
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }
    .skrol a {
        font-weight: 400 !important;
        color: #696a6f;
        font-size: 20px !important;
        margin-top: 0;
        margin-bottom: 0.4em;
        text-align: left !important;
    }
    .skrol p {
        font-weight: 600 !important;
        font-size: 1em;
        text-align: left;
    }
    .blog_tekstovi {
        width: 100%;
        clear: both;
        margin-left: 0;
        text-align: justify;
        white-space: normal;
    }
    .blog_tekstovi a {
        font-weight: 300;
        color: #696a6f;
        font-size: 24px !important;
        margin-top: 0;
        margin-bottom: 0;
        text-align: justify;
        text-decoration: none;
    }
    .blog_tekstovi a:hover {
        color: #337ad8;
        transition: all 1000ms ease;
        text-decoration: none;
    }
    .content {
        width: 100%;
        clear: both;
        margin-left: 0;
        overflow: auto;
        max-height: 315px;
        text-align: left;
    }
    .hide_tablet {
        display: none;
    }
    .zeroMargin_tablet {
        margin-left: 0;
    }
    /*usluge*/
    .naslov_pozadina {
        width: 100% !important;
        background-color: #F7F8F9;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        margin-bottom: 2em;
        margin-top: -18px;
    }
    .naslov {
        width: 96px;
        margin: 0 auto;
        clear: none;
        float: none;
        text-align: center;
    }
    .naslov h1 {
        color: #b1b1b8;
        font-size: 1.2em;
        font-weight: 300 !important;
    }
    .naslov h1 span {
        color: #888891;
        font-size: 1.7em;
        line-height: 1.5em;
        font-weight: 300 !important;
        text-align: left !important;
    }
    .vest_solo {
        margin-bottom: 1em;
        text-align: justify;
    }
    .vest_solo ul li {
        line-height: 1.5em;
        font-size: 1em;
        font-weight: 300;
    }
    .vest_solo ol li {
        line-height: 1.5em;
        font-size: 1em;
        font-weight: 300;
    }
    .vest_solo img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        text-align: justify;
        width: 100%;
    }
    .vest_solo {
        margin-bottom: 1em;
        width: 96%;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none;
        text-align: justify;
    }
    .vest_solo a {
        color: #0000FF;
        font-size: 1.1em;
        font-weight: 300;
        text-decoration: none;
    }
    .vest_solo h1 {
        font-weight: 400;
        font-size: 1.7em !important;
        text-align: center;
    }
    .vest_solo h2 {
        text-align: center;
        font-weight: 400;
        font-size: 1.5em !important;
    }
    .vest_solo h3 {
        text-align: left;
        font-weight: 200;
        font-size: 1.3em !important;
    }
    .vest_solo p span, .vest_solo ul li span {
        font-style: normal;
    }
    .vest_solo a:hover {
        color: #f21d25;
    }
    .vest h2 {
        text-align: center !important;
        font-weight: 400;
        color: blue;
        
    }
    .vest h3 {
        text-align: left;
        font-weight: 300;
        font-size: 1.1em;
    }
    .more {
        margin-top: 1em;
        float: left;
        background-color: #4245DC;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        margin-bottom: 30px;
        border-radius: 6px;
    }
    .more a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #FFFEFE;
    }
    .more a:hover {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #fff;
        color: #C90B0E;
    }
    #border {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #E8EBEE;
        padding-top: 1.5em;
    }
    /*lightbox*/
    .vesti_slike {
        margin-bottom: 2em;
        max-width: 98%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }
    .vesti_slikelight {
        width: 49%;
        margin-left: 1%;
        margin-bottom: 1%;
        clear: none;
        float: left;
    }
    /*end lightbox*/
    /*reference*/
    .ref_uzi {
        clear: both;
        text-align: center;
        background-color: #FFFFFF;
        height: auto;
        width: 100%;
        margin-bottom: 14px;
        clear: none;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .ref_img {
        width: 90%;
        margin: 0 auto;
    }
    .ref_naslov {
        height: 120px;
    }
    .ref_naslov_manji {
        height: 20px;
    }
    .ref_usluga {
        height: 50px;
    }
    .ref_utoku {
        height: 10px;
    }
    .ref_uzi h3 {
        color: #b1b1b8;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.2em;
        line-height: 1.0em;
    }
    .ref_uzi p {
        line-height: 1.1em;
        font-size: 1em;
        font-weight: 300;
    }
    .ref_uzi h2 {
        color: #58585F;
        font-size: 1.1em;
        font-weight: 300;
        margin-bottom: 0.1em;
        line-height: 1.1em;
        text-transform: uppercase;
    }
    #container-ref {
        width: 100%;
        background-color: #F7F8F9;
        background-image: url(../images/decor_inside.png);
        clear: none;
        float: none;
        margin-bottom: 15px;
        height: auto;
        padding-left: 2%;
        padding-right: 2%;
    }
    #container-ref1 {
        width: 100%;
        background-color: #F7F8F9;
        background-image: url(../images/decor_inside.png);
        clear: none;
        float: none;
        margin-bottom: 15px;
        height: auto;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
    }
    #container-ref1 h4 {
        padding-left: 30px;
    }
    .ref-1 {
        width: 100%;
        height: 30px;
        float: left;
        text-align: left;
    }
    /*end reference*/
    /*blog*/
    .more-blog {
  background-color: #f7e847;
  background-image: url(../images/decor_inside.png);
  background-repeat: repeat;
  padding: 0.6em 1.8em;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;      
  border-radius: 6px;    
    }
    .more-blog a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;       
    }
    .more-blog1 {
        margin-top: 0em;
        margin-bottom: 2em;
        background-color: #f7e847;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        width: 100%;
        text-align: center;
        border-radius: 6px;
    }
    .more-blog1 a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;
            }
    .more-blog2 {
  margin-bottom: 2em;
  background-color: #f7e847;
  background-image: url(../images/decor_inside.png);
  background-repeat: repeat;
  padding: 0.6em 1.8em;
  width: 100%;
  text-align: center;
  border-radius: 6px;    
    }
    .more-blog2 a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;        
    }
    .more-blog3 {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #f7e847;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        width: 100%;
        text-align: center;
        width: 100%;
        text-align: center;
    }
    .more-blog3 a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;        
    }
    .more-blog4 {
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #f7e847;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        padding: 0.6em 1.8em;
        width: 100%;
        text-align: center;
    }
    .more-blog4 a {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.1em;        
    }
    /*end blog*/
    /*kontakt*/
    .kontakt {
        width: 100%;
        clear: both;
        margin-left: 0;
        text-align: center;
    }
    .kontakt h2 {
        color: #58585F;
        font-size: 1em;
        font-weight: 400;
        line-height: 2em;
        margin-left: 1.2em;
        display: inline;
    }
    .kontakt h2 span {
        font-size: 1.2em;
        font-weight: 400;
    }
    .kontakt_forma {
        width: 100%;
        background-color: #F7F8F9;
        background-image: url(../images/decor_inside.png);
        background-repeat: repeat;
        text-align: center;
    }
    .seecap_naslovna {
        margin-bottom: 0.3em;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        text-align: center;
    }
    .blog_naslovmanji {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5em;
        padding-top: 3em;
        margin-bottom: 0.5em;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-position: center top;
    }
    /*contact form*/
    #form {
        width: 98%;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 1em;
    }
    /*CSS for Error notification*/
    .notification_error {
        height: auto;
        color: #fff;
        padding: 10px;
        margin: 10px auto;
        text-align: left;
        margin-bottom: 10px;
        margin-left: 35px;
        font-size: 12px;
    }
    /*CSS for Successfully sent notification*/
    .notification_ok {
        height: auto;
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }
    /*CSS for textarea (Name and email)*/
    textarea {
        width: 95% !important;
        margin: 10px auto;
        padding: 5px;
        border: #cccccc solid 1px;
        color: #333333;
        font: 12px Verdana, Helvetica, Arial, sans-serif;
        box-sizing: content-box;
        border-radius: 3px;
        box-shadow: 0 1px 4px 0 rgb(168, 168, 168, 0.6) inset;
        transition: all 0.2s linear;
    }
    /*CSS for textbox (Message)*/
    .textbox {
        width: 95%;
        height: 25px;
        padding: 5px;
        border: #cccccc solid 1px;
        color: #333333;
        font: 12px Verdana, Helvetica, Arial, sans-serif;
        box-sizing: content-box;
        border-radius: 3px;
        box-shadow: 0 1px 4px 0 rgb(168, 168, 168, 0.6);
        transition: all 0.2s linear;
        margin-top: 10px;
        margin-bottom: 10px;
        clear: both;
    }
    .textbox2 {
        height: 140px;
    }
    /*CSS for submit button*/
    .button {
        width: 20%;
        cursor: pointer;
        background-color: #001b86;
        padding: 4px 5px;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        border: rgb(15, 16, 18) solid 1px;
        margin-bottom: 10px;
        border-radius: 3px;
        box-shadow: 0 1px 6px 4px rgb(0, 0, 0, 0.07) inset, 0 1px 3px 2px rgb(28, 29, 31);
        transition: all 0.2s linear;
        text-align: center;
        background-image: url(../images/noise.png);
    }
    .button:hover {
        background-color: #e8150e;
        background-image: url(../images/noise.png);
    }
    ::-webkit-input-placeholder {
        color: rgb(190, 188, 188);
        font-style: italic;
    }
    /**** advanced input styling ****/
    /* placeholder */
    input:-moz-placeholder, textarea:-moz-placeholder {
        color: rgb(190, 188, 188);
        font-style: italic;
    }
    input {
        outline: none;
    }
    .vest_solo h1 {
        text-align: center;
        font-weight: 400;
        font-size: 1.7em !important;
    }
    /*end contac forma*/
    /*end kontakt*/
}
.figcaption {
    font-style: italic;
    font-size: 0.9em;
}
.blog_tekstovi .blog_tekstovi {
    font-style: normal;
    text-align: justify;
}
#public_health {
    background-color: #6CF;
    width: 320px;
    border-collapse: collapse;
    margin-right: 15px;
    margin-left: 0;
}
th {
    color: #050505;
    background-color: #C2CBE6;
}
tr:nth-child(even) {
    background-color: #CCC;
    color: #333;
}
